*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /*paleta de colores 1*/
    --colorMoradoOscuro: #40254c;
    --colorMoradoMedio: #66327d;
    --colorHover: #fbeeff;
    --colorBlanco: #fff;
    --colorBorrado: #aea4b1;

}

body{
    font-family: 'Press Start 2P', cursive;
    background: linear-gradient(180deg, rgba(135,103,175,1) 0%, rgba(1,1,1,1) 100%);
    background-repeat: no-repeat;
}

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



